<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no" />
    <title>后台管理系统</title>
    <link href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin//styles/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin//styles/simditor.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin//index.css">
</head>

<body>
    <div class="container-fluid" id="theBiggest">
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
                    <span class="sr-only">切换导航</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">SAST</a>
            </div>
            <div class="collapse navbar-collapse" id="example-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#" class="userMana">用户管理</a></li>
                    <li><a href="#" class="commentMana">讨论区管理</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        动态管理<b class="caret"></b>
                    </a>
                        <ul class="dropdown-menu">
                            <li><a href="#" class="newsList">动态列表</a></li>
                            <li><a href="#" class="sendNews">发布动态</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container-fluid" v-cloak>
            <div class="tip" v-if="showTip">{{tip}}</div>
            <div class="row" style="width: 94%;margin: 0 auto" v-if="showUser">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th class="text-center">用户名</th>
                            <th class="text-center">部门</th>
                            <th class="text-center">邮箱</th>
                            <th class="text-center">权限</th>
                            <th class="text-center">共提出的问题</th>
                            <th class="text-center">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="user in users ">
                            <td class="text-center">{{user.name}}</td>
                            <td class="text-center">{{user.department}}</td>
                            <td class="text-center">{{user.mail}}</td>
                            <td class="text-center">{{user.level | reverse}}</td>
                            <td class="text-center"><a href="javascript:;" style="text-decoration: none;" class="problem">{{user.problems}}</a></td>
                            <td class="text-center">
                                <button type="button" class="btn btn-danger" @click="delUser(user,user.uid)">删除</button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="6" class="pageTd">
                                <ul class="pageAll" style="width: 100%;">
                                    <li class="page" @click="toFirst()">首页</li>
                                    <li class="page" @click="less()">上一页</li>
                                    <li class="page" v-for="index in indexs" @click="changeBtn(index)" :class="{'choosen': current == index}">{{index}}</li>
                                    <li class="page" @click="add()">下一页</li>
                                    <li class="page">共计{{all}}名用户</li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row" style="width: 94%;margin: 0 auto" v-if="showNews">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th class="text-center">新闻标题</th>
                            <th class="text-center">发布时间</th>
                            <th class="text-center">评论数</th>
                            <th class="text-center">点赞数</th>
                            <th class="text-center">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="one in news">
                            <td class="text-center">{{one.title}}</td>
                            <td class="text-center">{{one.timestamp}}</td>
                            <td class="text-center">{{one.comment}}</td>
                            <td class="text-center">{{one.like}}</td>
                            <td class="text-center">
                                <button class="btn btn-primary" style="margin-right: 50px;">修改</button>
                                <button type="button" class="btn btn-danger" style="margin-left: 50px;" @click="delNews(one.news_id)">删除</button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="6" class="pageTd">
                                <ul class="pageAll" style="width: 100%;">
                                    <li class="page" @click="toFirst()">首页</li>
                                    <li class="page" @click="less()">上一页</li>
                                    <li class="page" v-for="index in indexs" @click="changeBtn(index)" :class="{'choosen': current == index}">{{index}}</li>
                                    <li class="page" @click="add()">下一页</li>
                                    <li class="page">共计{{all}}条动态</li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row textContainer" style="width: 90%;margin: 0 auto">
                <form enctype="multipart/form-data" id="form_1" action="__ROOT__/index.php/Admin/add/upload" method='post'>
                    <div class="row"><span>标题：&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <br>
                        <br>
                        <input type="text" name="title" maxlength="20">
                    </div>
                    <div class="row"><span>作者：&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <br>
                        <br>
                        <input type="text" name="author">
                    </div>
                    <div class="row"><span>关键字：</span>
                        <br>
                        <br>
                        <input type="text" name="keywords">
                    </div>
                    <div class="row"><span>首屏图片(长宽比250*150)：</span>
                        <br>
                        <br>
                        <input type="file" name="img">
                    </div>
                    <div class="row"><span>文章概述：</span>
                        <br>
                        <br>
                        <textarea class="simple" name="simple"></textarea>
                    </div>
                        <textarea name="text" id="textCon" style="display: none;"></textarea>
                    <div class="row">
                        <div>正文：</div>
                        <br>
                        <br>
                        <textarea id="editor" placeholder="请输入发布正文" autofocus></textarea>
                    </div>
                    <div class="row" style="margin-bottom: 10px;">
                        <button class="passNews btn btn-primary" style="float: right;" type="submit" onclick="passText()">确认提交</button>
                    </div>
                    </form>
            </div>
        </div>
    </div>
    <script src="http://cdn.bootcss.com/jquery/1.12.3/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/admin//scripts/module.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/admin//scripts/hotkeys.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/admin//scripts/uploader.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/admin//scripts/simditor.js"></script>
    <script src="http://cdn.bootcss.com/vue/1.0.23/vue.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/admin//admin.js"></script>
</body>

</html>
