<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	 <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no" />
	<title>{$title}</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/indexTop.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/login.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/register.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/news.css">
	<script type="text/javascript" src="__PUBLIC__/js/vue.js"></script>
</head>
<body>
	<include file="./Public/html/navbar.html"/>
	<div class="contant">
		<div class="container">
		<div class="row rowBiggest">
			<div class="col-md-8">
				<div class="tip" v-if="tipDis">{{tip}}</div>
				<div class="row">
					<div class="newsContent">
						<div class="easyNews">
							<div class="newsTitle" style="margin-bottom: 30px"><h1>{$title}</h1></div>
							<div class="newsTime"><span>时间：{$timestamp}</span></div>
							<div class="newsAuthor"><span>来自：{$author}</span></div>
							<div class="keyWords"><span>关键词：</span></div>
						</div>
						<div class="more">
					{$text}
						</div>
						<div class="row like" align="center">
							<span class="glyphicon glyphicon-thumbs-up" style="font-size: 40px;border-radius: 50%;padding: 20px;cursor: pointer;box-shadow: 0 0 5px gray;margin-bottom: 60px" :class="{'liked' : islike}" @click="ajaxLike();"></span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="comment">
						<h4>我来说几句</h4>
						<textarea class="mine" placeholder="请输入200字以内的评论的内容..." maxlength = "200" @paste="checkNum()" @cut="checkNum()"></textarea>
						<br>	
						<div class="row" style="margin-top: 10px;margin-left: 10px;font-size: 14px;">
							<span class="all">已评论数</span><span class="num">({$comnumber})</span>
							<button class="subm" @click="sendComment()">{{msg}}</button>
						</div>
						<br>
					</div>
					<!--已评论部分-->
					<div class="commented">
						<template v-for="item in items">
                            <div class="row rowImp">
                                <img src="__PUBLIC__/images/lazy.jpg" class="comment_Img">
                                <div class="comment_Name">{{item.commentor}}</div>
                                <div class="comment_Time">{{item.time}}</div>
                                <div class="comment_Container">{{item.content}}</div>
                            </div>
                        </template>
                        <div class="row" align="center" v-if="getInfo"><span style="cursor: pointer;color: #356686" @click="ajaxCom()">查看更多评论</span></div>
					</div>
				</div>
			</div>
			<div class="col-md-1"></div>
			<div class="col-md-3">
				<div class="row rightRow">
					<div class="title">最新动态</div>
					<div class="newNew">
						<ol>
							<li style="padding-top: 30px"><a href="__ROOT__/View?type=2&amp;id={$title1['news_id']}">{$title1['title']}</a></li>
							<li><a href="http://mp.weixin.qq.com/s?__biz=MzA5MDg2NDgzOA==&mid=2656710971&idx=1&sn=eb22119473c0a416e10308affc70e496&scene=0#wechat_redirect">校科协全体中干会议召开</a></li>
							<li><a href="http://mp.weixin.qq.com/s?__biz=MzA5MDg2NDgzOA==&mid=2656710960&idx=1&sn=d58d7d73145ff17f12b75da55098fc54&scene=0#wechat_redirect">第二十五届校科协换届名单公示</a></li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
		<div class="container-fluid foot" style="background-color: #084469;">
			<div class="row">
				<p style="color:#fff;margin-top:4px;margin-left:20px;">Copyright &copy;校科协网络部  github:https://github.com/Njupt-Sast-Network</p>
			</div>
		</div>
	</div>
</body>
	<script src="__PUBLIC__/js/jquery.js"></script>
	<script src="__PUBLIC__/js/bootstrap.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/Login.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/register.js"></script>
	<script type="text/javascript">
		function someInfo() {
			var arr = [];
			var id = {$id},type = {$type},islike = {$islike},comnumber = {$comnumber};
			if (islike == 0){
				islike = false;
			}else{
				islike = true;
			}
			arr.push(type);
			arr.push(id);
			arr.push(islike);
			arr.push(comnumber);
			return arr;
		}
	</script>
	<script type="text/javascript" src="__PUBLIC__/js/news.js"></script>
</html>