.findS {
	position: absolute;
	top: 0;
	width: 100%;
	height: 260px;
	background: url(../images/search.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
div.findS .filter {
	position: absolute;
	left: 50%;
	top: 140px;
	margin-left: -450px;
}
div.findS .same {
	height: 40px;
	position: absolute;
	top: 0;	
}
div.findS .put {
	width: 500px;
	left: 120px;
	font-size: 16px;
	padding:6px;
	border-radius: 0;
} 
div.findS .btn {
	width: 100px;
	left: 620px;
	background-color: #578db0;
	color: #fff;
	font-size: 18px;
	border-radius: 0;
	transition:all .5s;
}
div.findS .btn:hover {
	background-color:#084469;
	transition:all .5s;
}
div.findS .same:focus {
	outline: none;
}
.contant {
	position: absolute;
	left: 0;
	top: 300px;
	width: 100%;
}
.contant .rowBiggest .col-md-8 .rowNav ul li {
	list-style:none;
	float: left;
	font-size: 18px;
	padding-bottom: 20px;
	padding-right: 40px;
	padding-left: 40px; 
	cursor: pointer;
	font-weight: bold;
}
.contant .rowBiggest .col-md-8 .rowNav {
	border-bottom: 2px solid #D0D6D9;
}
.contant .rowBiggest .col-md-8 .rowNav ul .choose{
	border-bottom: 3px solid #fb9d01; 
}
.contant .rowBiggest .col-md-3  {
	margin-left: 8.33%;
}
.contant .rowBiggest .col-md-8 .rowTip .spanTitle {
	height: 40px;
	line-height: 40px;
	padding-left: 20px;
	font-size: 12px;
}
.contant .rowBiggest .col-md-8 .rowContant {
	margin-top: 30px;
}
.contant .rowBiggest .col-md-8 .rowContant ul li {
	list-style-type: none;
	margin-bottom: 30px;
	border-bottom: 1px solid #D0D6D9;
}

.contant .rowBiggest .col-md-8 .rowContant .zuopin li {
	height: 200px;
}
.contant .rowBiggest .col-md-8 .rowContant ul li .title {
	color: #000;
	font-size: 18px;
	font-weight: bold;
}
.contant .rowBiggest .col-md-8 .rowContant ul li p {
	color: #787D81;
	font-size: 14px;
	line-height: 150%;
	text-align: justify;
}
.contant .rowBiggest .col-md-8 .rowContant ul li .pContant {
	height: 106px;
	overflow: hidden;
}
.contant .rowBiggest .col-md-8 .rowContant ul li .title:hover {
	color:  #1f60a9;
	text-decoration: none;
}
.contant .rowBiggest .col-md-8 .rowContant .loading {
	position: absolute;
	top: 200px;
	left: 50%;
	margin-left: -20px;
}
.contant .rowBiggest .col-md-3 .rightRow .title {
	font-weight: bold;
	font-size: 18px;
	padding-bottom: 20px;
	border-bottom: 2px solid #D0D6D9;
}
.contant .rowBiggest .col-md-3 .rightRow a {
	position: absolute;
	color: #000;
	font-size: 16px;
}
.contant .rowBiggest .col-md-3 .rightRow .s1 {
	top: 180px;
	left: 0;
	opacity: 0.5
}
.contant .rowBiggest .col-md-3 .rightRow .s2 {
	top: 140px;
	left: 30px;
	opacity: 0.6
}
.contant .rowBiggest .col-md-3 .rightRow .s3 {
	top: 230px;
	left: 45px;
	opacity: 0.5
}
.contant .rowBiggest .col-md-3 .rightRow .s4 {
	top: 90px;
	left: 120px;
	opacity: 0.8
}
.contant .rowBiggest .col-md-3 .rightRow .s5 {
	top: 290px;
	left: 80px;
	opacity: 0.8
}
.contant .rowBiggest .col-md-3 .rightRow .s6 {
	top: 200px;
	left: 90px;
	font-size: 18px;
}
.contant .rowBiggest .col-md-3 .rightRow .s7 {
	top: 150px;
	left: 155px;
	opacity: 0.7
}
.contant .rowBiggest .col-md-3 .rightRow .s8 {
	top: 220px;
	left: 180px;
	opacity: 0.4
}
.contant .rowBiggest .col-md-3 .rightRow .s9 {
	top: 250px;
	left: 155px;
	opacity: 0.6
}
.contant .rowBiggest .col-md-3 .fix {
	position: fixed;
	width: 25%;
	top: 0;
}
/*分页样式*/
.pageAll .page {
	list-style: none;
	display: inline;
	padding: 8px;
	font-size: 16px;
	color:  #356686;
	margin-left: 8px;
	border: 1px solid  #356686;
	transition:all .1s;
	cursor: pointer;
} 
.pageAll .amount {
	list-style: none;
	display: inline;
	padding: 8px;
	font-size: 16px;
	color:  #356686;
	margin-left: 8px;
	border: 1px solid  #356686;
	transition:all .1s;
}
.choosen {
	text-decoration: none;
	background-color: #356686;
	color: #fff!important;
}
.pageAll .page:hover {
	text-decoration: none;
	background-color: #356686;
	color: #fff;
	transition:all .1s;
}
/*讨论区*/
.contant .rowBiggest .col-md-8 .rowContant .taolun img {
	width: 80px;
	height: 80px;
	border: 1px solid #317865;
	box-shadow: 0 0 10px #333; 
	border-radius: 50%;
}
.contant .rowBiggest .col-md-8 .rowContant .taolun a {
	color: #000;
	cursor: pointer;
	text-decoration: none;
}
.contant .rowBiggest .col-md-8 .rowContant .taolun .from,
.contant .rowBiggest .col-md-8 .rowContant .taolun .username {
	font-size: 14px;
	margin-left: 20px;
	vertical-align: top;
}
.contant .rowBiggest .col-md-8 .rowContant .taolun .problem {
	margin-left: 100px;
	font-size: 18px;
	margin-top: -30px;
	margin-bottom: 60px;
}
.contant .rowBiggest .col-md-8 .rowContant .taolun .problem a:hover {
	color: #356686;
}
.contant .rowBiggest .col-md-8 .rowContant .taolun .comment {
	display: none;
}
.contant .rowBiggest .col-md-8 .rowContant .taolun .caozuo {
	float: right;
	margin-top: -30px;
	color: #484846;
	font-size: 12px;
}
.contant .rowBiggest .col-md-8 .rowContant .taolun .small {
	margin-top: 20px;
}
.contant .rowBiggest .col-md-8 .rowContant .taolun .name,
.contant .rowBiggest .col-md-8 .rowContant .taolun .answer
{
	margin-top: 20px;
	font-size: 14px;
	color: #484846;
}
.contant .rowBiggest .col-md-8 .rowContant .taolun .row {
	margin: 0;
}
/*新闻区样式*/
.contant .rowBiggest .col-md-8 .rowContant .xinwen li {
	position: relative;
	display: flex;
	display: -webkit-flex;
}
.contant .rowBiggest .col-md-8 .rowContant .xinwen .newsImg {
	height: 140px;
	width: 250px;
	margin-right: 20px;
}
.contant .rowBiggest .col-md-8 .rowContant .xinwen .newTitle {
	font-size: 20px;
	color: #000;
	overflow: hidden;
 	text-overflow:ellipsis;
 	display: -webkit-box;
 	-webkit-line-clamp:1;
 	-webkit-box-orient:vertical; 
	font-weight: bold;
	text-decoration: none;
}
.contant .rowBiggest .col-md-8 .rowContant .xinwen .newTitle:hover {
	color: #356686;
	text-decoration: none;
	cursor: pointer;
}
.contant .rowBiggest .col-md-8 .rowContant .xinwen .news {
	font-size: 14px;
	margin-top: 30px;
	text-align: justify;
	height: 122px;
	overflow: hidden;
}
.contant .rowBiggest .col-md-8 .rowContant .xinwen .newTime {
	position: absolute;
	top: 160px;
	left: 90px;
}
/*wiki*/
.contant .rowBiggest .col-md-8 .rowContant .wiki .wikiTitle {
	font-size: 18px;
	color: #000;
	font-weight: bold;
	text-decoration: none;
}
.contant .rowBiggest .col-md-8 .rowContant .wiki .wikiTitle:hover {
	color: #356686;
}
.contant .rowBiggest .col-md-8 .rowContant .wiki .wikiContent {
	font-size: 14px;
	margin-top: 30px;
	height: 80px;
	margin-bottom: 40px;
	overflow: hidden;
	text-indent: 28px
}
.contant .rowBiggest .col-md-8 .rowContant .wiki .more {
	float: right;
	margin-top: -20px;
	font-size: 14px;
}
/*
搜索不到结果提示
*/
.contant .rowBiggest .col-md-8 .searchTip {
	position: absolute;
	top: 200px;
	left: 50%;
	margin-left: -130px;
	font-size: 20px;
	color: gray;
	display: none;
}
@media screen and (max-width : 1200px) {
	nav.nav {
		min-width: 100%!important;
	}
	.contant .rowBiggest .col-md-3 .rightRow {
		display: none;
	}
	.contant .rowBiggest .col-md-8 {
		width: 100%;
	}
}
@media screen and (max-width : 800px) {
	nav.nav {
		min-width: 820px!important;
	}
	.findS {
		min-width: 820px;
	}
	.contant .rowBiggest {
		min-width: 820px;
	}
	.contant .rowBiggest .col-md-8 {
		min-width: 820px;
	}
	.foot {
		min-width: 820px;
	}
}