<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>南京邮电大学大学生科学技术协会</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/indexTop.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/index.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/login.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/register.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/indexMain.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/video-js.css">
</head>

<body>
    <include file="./Public/html/navbar.html" />
    <!--轮播-->
    <div id="myCarousel" class="carousel slide carousel-fade">
        <!-- 轮播（Carousel）指标 -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
            <li data-target="#myCarousel" data-slide-to="5"></li>
            <li data-target="#myCarousel" data-slide-to="6"></li>
            <li data-target="#myCarousel" data-slide-to="7"></li>
            <li data-target="#myCarousel" data-slide-to="8"></li>
        </ol>
        <!-- 轮播（Carousel）项目 -->
        <div class="carousel-inner">
            <div class="item active">
                <script type="text/javascript">
                function al() {
                    // alert("暂未开放哟~");
                    window.location.href='http://zx.njupt.edu.cn'
                }
                </script>
                <img src="__PUBLIC__/images/home.jpg" alt="First slide">
                <div class="introduce">
                    <div class="frosted-glass"></div>
                    <span class="introTitle">软件研发中心</span>
                    <div class="introContent">软件研发中心是一个新部门，由计算机部和网络部整合而成的，总共有C++，Java，Python，C#，acm，Android开发，Java web，Linux，前端，后端，安全部门特色主要强调技术，开放良好的氛围，拥有若干个研究小组。只要你也是对有关于计算机任何方面感兴趣的，无论你技术高低，我们都十分欢迎，在这里，你总能找到一群有着相同兴趣爱好的人。我们的课程不仅对科协内部，也是对全校所有对技术感兴趣的人开放的。</div>
                </div>
                <div class="continue">
                    <a href="javascript:;" class="down">继续向下</a><a onclick="al()">报名入口</a>
                </div>
            </div>
            <div class="item">
                <img src="__PUBLIC__/images/dianzi.jpg" alt="Third slide">
                <div class="introduce">
                    <div class="frosted-glass"></div>
                    <span class="introTitle">电子部</span>
                    <div class="introContent">电子部主要开展电子信息类科学技术的研究，授课和竞赛培训。学习的内容以模拟电路、数字电路、编程语言为基础，以自动控制系统、通信系统、仪器仪表、电源系统、物联网系统为方向，专攻电子电路设计、嵌入式系统开发，FPGA和片上系统。部门活动主要涵盖授课，交流和竞赛培训。</div>
                </div>
                <div class="continue">
                    <a href="javascript:;" class="down">继续向下</a><a onclick="al()">报名入口</a>
                </div>
            </div>
            <div class="item">
                <img src="__PUBLIC__/images/duomeiti.png" alt="Second slide">
                <div class="introduce">
                    <span class="introTitle">多媒体技术部</span>
                    <div class="introContent">主要交流平面设计、视频、音频、3D、摄影等技术。可学习的技能类型多样，且各方向均涉及多种软件。提倡艺术与技术相结合，兴趣与学习相结合。希望在这个部门里，大家可以提升自己感兴趣的技能，遇到志同道合的伙伴。</div>
                </div>
                <div class="continue">
                    <a href="javascript:;" class="down">继续向下</a><a onclick="al()">报名入口</a>
                </div>
            </div>
            <div class="item">
                <img src="__PUBLIC__/images/bangongshi.jpg" alt="fourth slide">
                <div class="introduce">
                    <div class="frosted-glass"></div>
                    <span class="introTitle">办公室</span>
                    <div class="introContent">办公室，作为主席团、指导老师和各个部门的沟通纽带，是校科协运作的保障部门。我们主要负责人员的组织与调配、活动的策划与总结、档案的归类与整理、文案的编辑与制作、会议的展开与记录等等。在这里，你能提高自己的组织策划能力，学到很多实用且高大上的办公技巧，并在与各部门的合作交流中认识传说中的大神、牛人。办公室需要的是极具责任心，遇事不急躁，办事不懈怠的人，我们欢迎有上进心、责任心、恒心的你。</div>
                </div>
                <div class="continue">
                    <a href="javascript:;" class="down">继续向下</a><a onclick="al()">报名入口</a>
                </div>
            </div>
            <div class="item">
                <img src="__PUBLIC__/images/kexuanbu.jpg" alt="Fifth slide">
                <div class="introduce">
                    <div class="frosted-glass"></div>
                    <span class="introTitle">科宣部</span>
                    <div class="introContent">科宣部，全称科普宣传部。正如其名，我们负责管理校科协的各网络平台，致力于宣传校科协的各项活动。运用Photoshop设计宣传册、海报等展示科技魅力，用网络科普科技知识，将科技与艺术紧密结合，把创新的思想融入到科普宣传中。科宣部的工作需要使用Photoshop等图像制作软件的应用能力以及新闻稿的写作能力（其中PS我们会联合网络部进行授课教学）。</div>
                </div>
                <div class="continue">
                    <a href="javascript:;" class="down">继续向下</a><a onclick="al()">报名入口</a>
                </div>
            </div>
            <div class="item">
                <img src="__PUBLIC__/images/wailian.jpg" alt="sixth slide">
                <div class="introduce">
                    <div class="frosted-glass"></div>
                    <span class="introTitle">外联部</span>
                    <div class="introContent">外联部，是校科协对外交流的桥梁，主要负责校科协和外界的联系、日常活动的组织与开展以及提供社团经费保障。其中包括校科协与我校九大社团的工作交流，与兄弟院校之间的联系交流，以及与企业之间的沟通。这是一个极具挑战性的部门，同时也是开拓大学生视野的窗口，在这里你可以认识更多本校以及兄弟院校科协的牛人，还可以结识许多企业人士。</div>
                </div>
                <div class="continue">
                    <a href="javascript:;" class="down">继续向下</a><a onclick="al()">报名入口</a>
                </div>
            </div>
            <div class="item">
                <img src="__PUBLIC__/images/shefa.jpg" alt="seventh slide">
                <div class="introduce">
                    <div class="frosted-glass"></div>
                    <span class="introTitle">社团发展部</span>
                    <div class="introContent">社团发展部主要负责校科协与各科技类直属社团的联系和交流，建立起两者间的桥梁。发挥科协与直属社团间的不同优势，调度信息资源，促进双方的共同发展。作为创新中心下属部门，社发部还担负着组织参赛的职能，在利用各方资源的同时积极动员同学们参加创新创业方面赛事，同时处理和参与创新中心和科协内的日常工作和活动。</div>
                </div>
                <div class="continue">
                    <a href="javascript:;" class="down">继续向下</a><a onclick="al()">报名入口</a>
                </div>
            </div>
            <div class="item">
                <img src="__PUBLIC__/images/organize.jpg" alt="seventh slide">
                <div class="introduce">
                    <div class="frosted-glass"></div>
                    <span class="introTitle">赛事部</span>
                    <div class="introContent">赛事部隶属于创新中心，是负责组织和管理学生课内外竞赛的职能部门，致力于竞赛体系的建设和完善。其职能主要有赛事提醒、赛事推介、赛事经验传授、赛事资料汇总等，并负责全国一级赛事"挑战杯"在校内的承办。</div>
                </div>
                <div class="continue">
                    <a href="javascript:;" class="down">继续向下</a><a onclick="al()">报名入口</a>
                </div>
            </div>
            <div class="item">
                <img src="__PUBLIC__/images/chuangye.jpg" alt="eighth slide">
                <div class="introduce">
                    <div class="frosted-glass"></div>
                    <span class="introTitle">实践创业部</span>
                    <div class="introContent">校科协三牌楼校区实践创业部。通过开展财务和营销理论知识授课，奠定策划和参与创业类赛事基础，打造管理学院特色商战预备平台，为校科协注入充满活力和创意的源泉。作为校科协的新生组成部分，加强具有管院特色的部门建设，密切联系三牌楼校区和仙林校区，共同促进校科协的发展进步。</div>
                </div>
                <div class="continue">
                    <a href="javascript:;" class="down">继续向下</a><a onclick="al()">报名入口</a>
                </div>
            </div>
        </div>
    </div>
    <section class="sectionOne">
        <div class="container moreContainer">
            <br>
            <br>
            <div class="row">
                <div class="col-md-1 title">
                    <span class="glyphicon glyphicon-list-alt ii"></span>科协动态
                    <div class="more"><a href="__ROOT__/index.php/search">更多 <span class="glyphicon glyphicon-forward"></span></a></div>
                </div>
            </div>
            <div class="row row2">
                <div class="col-md-3">
                    <h4>{$news[0].title}</h4>
                    <div class="image">
                        <img src="/Uploads/{$news[0].img}">
                    </div>
                    <p class="introduce">
                        {$news[0].simple}</p>
                    <a href="__ROOT__/index.php/View?type=2&amp;id={$news[0].news_id}">READ MORE</a>
                </div>
                <div class="col-md-3">
                    <h4>{$news[1].title}</h4>
                    <div class="image">
                        <img src="/Uploads/{$news[1].img}">
                    </div>
                    <p class="introduce">
                        {$news[1].simple}</p>
                    <a href="__ROOT__/index.php/View?type=2&amp;id={$news[1].news_id}">READ MORE</a>
                </div>
                <div class="col-md-3">
                    <h4>{$news[2].title}</h4>
                    <div class="image">
                        <img src="/Uploads/{$news[2].img}">
                    </div>
                    <p class="introduce">
                        {$news[2].simple}</p>
                    <a href="__ROOT__/index.php/View?type=2&amp;id={$news[2].news_id}">READ MORE</a>
                </div>
            </div>
            <br>
            <br>
            <div class="row row3" style="margin-top:80px" align="center">
                <div class="col-md-3"><span class="glyphicon glyphicon-blackboard"></span>
                    <p>开源平等</p>
                </div>
                <div class="col-md-3"><span class="glyphicon glyphicon-send"></span>
                    <p>志存高远</p>
                </div>
                <div class="col-md-3"><span class="glyphicon glyphicon-transfer"></span>
                    <p>薪火相传</p>
                </div>
            </div>
            <div class="row row5" align="center">
                <h2 style="color:#356686">Sast-南邮校科协简介</h2>
                <p style="color:#578db0 ;margin-top: 50px;font-size: 18px;line-height: 200%;text-align: justify;text-indent: 36px;">南京邮电大学大学生科学技术协会（Students’ Association for Science and Technology),简称SAST，中文简称南邮校科协，成立于1992年。它是在校团委指导下，依照国家法规和大学生规章制度，独立开展活动的学生科技文化及学术研究的组织，也是校团委直属的组织中唯一一个技术类的学生组织。 南邮校科协现分为技术中心、办公中心、创新中心三大中心，其中创新中心下还设有CG爱好者协会、ERP协会、安全技术协会等九个直属社团，组织管理有序，机构设置严谨。 南邮校科协本着学以致用的务实原则，结合我校的特点，广泛地开展各项具有学术性、知识性、实践性的科技创新活动，引领全校同学学习科学、热爱科学、拓宽视野、提高创新意识、深化专业知识、优化知识结构，培养复合型人才。历届校科协成员有很多凭借着优异的成绩被各类知名公司聘用、顶尖高校录取。 南京邮电大学大学生科学技术协会始终以“增强科技意识，活跃学术气氛，提高创新能力，培养科技人才”为目标，努力让更多的南邮学子在这里点燃梦想，成功启航！
                </p>
                <br>
                <br>
                <br>
                <br>
                <br>
                <video id="my-video" class="video-js" controls preload="auto" width="800" height="400" poster="__PUBLIC__/images/sast.png" data-setup="{}">
                    <source src="http://sast.njupt.edu.cn/Public/video/sast.mp4" type='video/mp4'>
                    <!-- <source src="MY_VIDEO.webm" type='video/webm'> -->
                    <p class="vjs-no-js">
                        To view this video please enable JavaScript, and consider upgrading to a web browser that
                        <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                    </p>
                </video>
            </div>
            <div class="row row4" style="margin-top:200px;height:480px;">
                <div class="zhe"><span>科协这个大家庭</span></div>
                <div class="Box">
                    <div class="smallBox">
                        <div class="min allmin">
                            <img src="__PUBLIC__/images/lazy.jpg" alt="">
                        </div>
                        <div class="introduce introduce1 pos">
                            <p class="name">王凯</p>
                            <p class="job">曾任校科协主席</p>
                            <p class="contant">在校积极参与“挑战杯”、“创青春”和“科技节”等科创活动。现在北京大学就读</p>
                        </div>
                        <div class="min allmin">
                            <img src="__PUBLIC__/images/lazy.jpg" alt="">
                        </div>
                        <div class="introduce introduce1 pos pos3">
                            <p class="name">沈天弋</p>
                            <p class="job">曾任计算机部linux组组长</p>
                            <p class="contant">现为Google软件工程师，曾在ACM/ICPC国际大学生程序设计大赛获得两个铜牌。</p>
                        </div>
                        <div class="min allmin">
                            <img src="__PUBLIC__/images/lazy.jpg" alt="">
                        </div>
                        <div class="introduce introduce1 pos2">
                            <p class="name">高飞</p>
                            <p class="job">曾任校科协主席</p>
                            <p class="contant"> ACM国际大学生程序设计大赛亚洲区域赛铜奖。创青春江苏省大学生创业计划竞赛金奖。</p>
                        </div>
                        <div class="min allmin">
                            <img src="__PUBLIC__/images/lazy.jpg" alt="">
                        </div>
                        <div class="introduce introduce1 pos2 pos3">
                            <p class="name">刘泽宇</p>
                            <p class="job">曾任校科协副主席</p>
                            <p class="contant">web腾讯产品经理、南京互联网菁英圈创始人、南京谷歌开发者社区组织者。
                            </p>
                        </div>
                    </div>
                    <div class="smallBox">
                        <div class="min2 allmin">
                            <img src="__PUBLIC__/images/lazy.jpg" alt="">
                        </div>
                        <div class="introduce introduce2 pos">
                            <p class="name">奚佳炜</p>
                            <p class="job">曾任网络部部长</p>
                            <p class="contant contantBig">web工程师，前后端经验非常丰富，曾在阿里巴巴，百度实习，现就职于百度公司大数据部门。对web开发非常感兴趣，大一时开发了个人网站Miyijia.com，日均pv达50万。经常与学弟学妹们交流经验，建立了南邮前端经验分享会。担任网络部部长期间出色完成任务，使校科协网络部技术水平更上一层楼。</p>
                        </div>
                    </div>
                    <div class="smallBox">
                        <div class="min2 allmin">
                            <img src="__PUBLIC__/images/lazy.jpg" alt="">
                        </div>
                        <div class="introduce introduce2 pos">
                            <p class="name">孙放</p>
                            <p class="job">曾任校科协主席</p>
                            <p class="contant contantBig">2010年6月至2011年6月在校科协担任主席一职，任内建立校科协学术指导老师聘任制度、建设了南京邮电大学大学生科技创新基金等机制。在学校时参与过数个产业项目，对软件的开发与设计有一定的经验，并对大型软件与Web系统的架构有一定的了解。现为淘宝软件有限公司工程师。</p>
                        </div>
                    </div>
                    <div class="smallBox">
                        <div class="min allmin">
                            <img src="__PUBLIC__/images/lazy.jpg" alt="">
                        </div>
                        <div class="introduce introduce1 pos">
                            <p class="name">杨颖</p>
                            <p class="job">曾任办公中心主席</p>
                            <p class="contant">2013钱旺智能杯青年志愿者徽章大赛优胜奖，创青春校赛金奖、省赛银奖、国赛银奖 </p>
                        </div>
                        <div class="min allmin">
                            <img src="__PUBLIC__/images/lazy.jpg" alt="">
                        </div>
                        <div class="introduce introduce1 pos pos3">
                            <p class="name">江如意</p>
                            <p class="job">曾任技术中心主席</p>
                            <p class="contant">挑战杯全国大学生课外学术科技作品省级三等奖，创青春创业计划大赛省级银奖校级金奖。</p>
                        </div>
                        <div class="min allmin">
                            <img src="__PUBLIC__/images/lazy.jpg" alt="">
                        </div>
                        <div class="introduce introduce1 pos2">
                            <p class="name">任然</p>
                            <p class="job">曾任校科协主席</p>
                            <p class="contant">国际数学建模大赛二等奖，联合国国际电信联盟世界电信展青年领袖。</p>
                        </div>
                        <div class="min allmin">
                            <img src="__PUBLIC__/images/lazy.jpg" alt="">
                        </div>
                        <div class="introduce introduce1 pos2 pos3">
                            <p class="name">诸鑫强</p>
                            <p class="job">曾任网络部部长</p>
                            <p class="contant">web前端工程师，web技术较为全面，经验较为丰富。</p>
                        </div>
                    </div>
                </div>
                <div class="Box">
                    <div class="smallBox">
                        <div class="min allmin">
                            <img src="__PUBLIC__/images/lazy.jpg" alt="">
                        </div>
                        <div class="introduce introduce3 pos pos4">
                            <p class="name">张丹阳</p>
                            <p class="job">曾任校科协主席</p>
                            <p class="contant">主持过科协大大小小活动，功不可没。</p>
                        </div>
                        <div class="min allmin">
                            <img src="__PUBLIC__/images/lazy.jpg" alt="">
                        </div>
                        <div class="introduce introduce3 pos">
                            <p class="name">郑致远</p>
                            <p class="job">现任技术中心主席</p>
                            <p class="contant">主要研究java，其他各类语言都比较熟悉，擅长于acm比赛。</p>
                        </div>
                        <div class="min allmin">
                            <img src="__PUBLIC__/images/lazy.jpg" alt="">
                        </div>
                        <div class="introduce introduce3 pos2  pos4">
                            <p class="name">周捷</p>
                            <p class="job">曾任网络部网安组组长</p>
                            <p class="contant">擅长于渗透等信安技术，多次提交网站漏洞，ctf比赛成绩优异。</p>
                        </div>
                        <div class="min allmin">
                            <img src="__PUBLIC__/images/lazy.jpg" alt="">
                        </div>
                        <div class="introduce introduce3 pos2">
                            <p class="name">黄诚博</p>
                            <p class="job">曾任技术中心主席</p>
                            <p class="contant">ACM-ICPC亚洲区域赛（北京站）铜奖；南京邮电大学第六届程序设计大赛一等奖。</p>
                        </div>
                    </div>
                    <div class="smallBox">
                        <div class="min2 allmin">
                            <img src="__PUBLIC__/images/lazy.jpg" alt="">
                        </div>
                        <div class="introduce introduce4 pos">
                            <p class="name">鞠林</p>
                            <p class="job">曾任校科协主席</p>
                            <p class="contant contantBig">第35届ACM/ICPC国际大学生程序设计大赛亚洲区现场赛铜牌。担任校科协主席期间，带领同学完成校科协在线管理系统的开发。团结同学，技术过硬。现为百度高级研发工程师。</p>
                        </div>
                    </div>
                    <div class="smallBox">
                        <div class="min2 allmin">
                            <img src="__PUBLIC__/images/lazy.jpg" alt="">
                        </div>
                        <div class="introduce introduce4 pos">
                            <p class="name">樊超</p>
                            <p class="job">曾任计算机部部长</p>
                            <p class="contant contantBig">曾在Red Hat (Linux内核)实习，现就职于南京富士通南大软件技术公司，兴趣点在于Linux的学习与开发。虽然是物理专业出身，但是编程着实厉害。</p>
                        </div>
                    </div>
                    <div class="smallBox">
                        <div class="min allmin">
                            <img src="__PUBLIC__/images/lazy.jpg" alt="">
                        </div>
                        <div class="introduce introduce3 pos pos4">
                            <p class="name">崔天昊</p>
                            <p class="job">现任通院科协主席，原校科协网络部讲师</p>
                            <p class="contant">研究方向web前端，并有一定经验。</p>
                        </div>
                        <div class="min allmin">
                            <img src="__PUBLIC__/images/lazy.jpg" alt="">
                        </div>
                        <div class="introduce introduce3 pos">
                            <p class="name">朱立宇</p>
                            <p class="job">曾任电子部长</p>
                            <p class="contant">研究方向在硬件开发，兴趣驱使，经验丰富。</p>
                        </div>
                        <div class="min allmin">
                            <img src="__PUBLIC__/images/lazy.jpg" alt="">
                        </div>
                        <div class="introduce introduce3 pos2  pos4">
                            <p class="name">王悉宇</p>
                            <p class="job">网络部核心部员</p>
                            <p class="contant">对各种计算机技术非常感兴趣，也乐于与其他部员交流自己的学习成果。</p>
                        </div>
                        <div class="min allmin">
                            <img src="__PUBLIC__/images/lazy.jpg" alt="">
                        </div>
                        <div class="introduce introduce3 pos2">
                            <p class="name">陶黎成</p>
                            <p class="job">计算机部核心部员</p>
                            <p class="contant">擅长acm比赛，为人随和，在同届当中技术较为出色。</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row6" align="center">
                <h1 style="color:#356686">前辈们的足迹遍布这里</h1>
                <img src="__PUBLIC__/images/google.jpg" alt="谷歌" class="intro0 ani">
                <img src="__PUBLIC__/images/baidu.png" alt="百度" class="intro1">
                <img src="__PUBLIC__/images/alibaba.jpg" alt="阿里巴巴" class="intro2">
                <img src="__PUBLIC__/images/sanxing.jpg" alt="三星" class="intro3">
                <img src="__PUBLIC__/images/tencent.jpg" alt="腾讯" class="intro4">
                <img src="__PUBLIC__/images/xiaomi.jpg" alt="小米" class="intro5">
                <img src="__PUBLIC__/images/zte.jpg" alt="中兴" class="intro6">
                <img src="__PUBLIC__/images/huawei.png" alt="华为" class="intro7">
                <img src="__PUBLIC__/images/microsoft.jpg" alt="微软" class="intro8">
                <img src="__PUBLIC__/images/Motorola.jpg" alt="摩托罗拉" class="intro9">
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="container lessContainer" style="background-color:#084469">
            <div class="row">
                <h1 style="margin-top: 40px;">联系我们</h1></div>
            <div class="row">
                <br>
                <br>
                <div class="col-md-6">
                    <br>
                    <br>
                    <br>
                    <p>地址:南京市栖霞区文苑路9号南京邮电大学大学生活动中心208</p>
                    <p>邮箱:sast@njupt.edu.cn</p>
                    <p>网址:http://sast.njupt.edu.cn</p>
                    <p>Copyright &copy;校科协网络部</p>
                    <p>
                        <a style="color:#fff" href="https://github.com/Njupt-Sast-Network">https://github.com/Njupt-Sast-Network</a></p>
                </div>
                <div class="col-md-6">
                    <div class="newQq" style="display: inline-block;margin-right: 50px;position: relative;">加入我们的新生群
                        <br><img src="__PUBLIC__/images/sast2017new.jpg" height="160" width="160" style="margin-top: 30px;margin-bottom: 30px">
                        <br>群号：276453676</div>
                    <div class="erwei" style="display: inline-block;margin-left: 50px;position: relative;top: -1px">扫二维码关注南邮校科协微信号
                        <br><img src="__PUBLIC__/images/getqrcode.jpeg" height="160" width="160" style="margin-top: 30px;margin-bottom: 30px;">
                        <br>（录取查询方式之一）</div>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </section>
    <span id="hui" class="glyphicon glyphicon-menu-up"></span>
    <!-- If you'd like to support IE8 -->
    <script src="__PUBLIC__/js/videojs-ie8.min.js"></script>
    <script src="__PUBLIC__/js/video.js"></script>
    <script src="http://cdn.bootcss.com/jquery/1.12.1/jquery.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/bootstrap.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/top.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/Login.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/register.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/main.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/tab.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/lazyload.js"></script>
</body>

</html>
