<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<title>科协陈列馆</title>
	<script type="text/javascript" src="__PUBLIC__/src/js/vue.js"></script>
	<!--<script type="text/javascript" src="../../../"></script>-->
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/src/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/src/css/indexTop.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/src/css/login.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/src/css/register.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/src/css/search.css">
</head>
<body>
	<include file="./Public/html/navbar.html"/>
	<div class="findS">
		<div class="filter">
			<select v-model="selected" class="choice same">
				<option selected>关键字</option>
				<option>创作人</option>
			</select>
			<input type="text" class="put same" placeholder="请输入想搜索的内容...">
			<input type="button" class="same btn" value="搜索">
		</div>
	</div>
	<div class="contant">
		<div class="container">	
				<div class="row rowBiggest">
					<div class="col-md-8" >
						<div class="row rowNav">
							<ul>
								<navli msg="作品" class="choose"></navli>
								<navli msg="讨论区"></navli>
								<navli msg="新闻"></navli>
								<navli msg="学长分享"></navli>
							</ul>
						</div>
						<template id="navtemplate">
							<li @click="changeChoose($el)">{{msg}}</li>
						</template>
						<div class="row rowTip" style="background-color:#F9F9F9">
							<span class="spanTitle">为您搜索到相关答案<span class="number"></span>个</span>
						</div>
						<div class="row rowContant" style="min-height: 1000px;">
							<ul class="zuopin allUl">
								<template v-for="item in items">
								<li>
									<a href="dd" class="title">{{item.title}}</a>
									<p class="name">作者：{{item.author}}</p>
									<p class="xueyuan">学院：{{item.department}}</p>
									<p class="pContant">简介：{{item.text}}</p>
								</li>
								</template>			
							</ul>
								<ul class="taolun" style="display: none">
								<!--
									<template v-for="item in items">
									<li>
										<img :src="item.src" alt="用户头像" class="taolunImg"><span class="from">来自</span><a class="username">{{item.nickname}}</a>
										<p class="problem">{{item.problem}}</p>
										<div class="caozuo">
											<a href="javascript:;" class="ping">评论</a>&nbsp;&nbsp;
											<a href="javascript:;" class="open">展开评论</a>
										</div>
										评论内容不是第一次请求得到
										<div class="row comment">
											<div class="row small">
												<span class="name">狒狒神:</span>
												<span class="answer">你可以去查一下官方文档你可以去查一下官方文档你可以去查一下官方文档你可以去查一下官方文档你可以去查一下官方文档你可以去查一下官方文档你可以去查一下官方文档</span>
											</div>
										 	<a href="javascript:;" class="response">回复</a>
										</div>
									</li>
									</template>
									-->
									<li>
										<img src="__PUBLIC__/src/images/img3.jpg" alt="用户头像" class="taolunImg"><span class="from">来自</span><a class="username">小泉花阳</a>
										<p class="problem">请问thinkphp中M函数的作用是什么？</p>
										<div class="caozuo">
											<a href="javascript:;" class="ping">评论</a>&nbsp;&nbsp;
											<a href="javascript:;" class="open">展开评论</a>
										</div>
										<div class="row comment">
											<div class="row small">
												<span class="name">狒狒神:</span>
												<span class="answer">你可以去查一下官方文档你可以去查一下官方文档你可以去查一下官方文档你可以去查一下官方文档你可以去查一下官方文档你可以去查一下官方文档你可以去查一下官方文档</span>
											</div>
										 	<a href="javascript:;" class="response">回复</a>
										</div>
									</li>
									<li>
										<img src="__PUBLIC__/src/images/img3.jpg" alt="用户头像" class="taolunImg"><span class="from">来自</span><a class="username">小泉花阳</a>
										<p class="problem">请问thinkphp中M函数的作用是什么？</p>
										<div class="caozuo">
											<a href="javascript:;" class="ping">评论</a>&nbsp;&nbsp;
											<a href="javascript:;" class="open">展开评论</a>
										</div>
										<div class="row comment">
											<div class="row small">
												<span class="name">狒狒神:</span>
												<span class="answer">你可以去查一下官方文档你可以去查一下官方文档你可以去查一下官方文档你可以去查一下官方文档你可以去查一下官方文档你可以去查一下官方文档你可以去查一下官方文档</span>
											</div>
										 	<a href="javascript:;" class="response">回复</a>
										</div>
									</li>
									<li>
										<img src="__PUBLIC__/src/images/img3.jpg" alt="用户头像" class="taolunImg"><span class="from">来自</span><a class="username">小泉花阳</a>
										<p class="problem">请问thinkphp中M函数的作用是什么？</p>
										<div class="caozuo">
											<a href="javascript:;" class="ping">评论</a>&nbsp;&nbsp;
											<a href="javascript:;" class="open">展开评论</a>
										</div>
										<div class="row comment">
											<div class="row small">
												<span class="name">狒狒神:</span>
												<span class="answer">你可以去查一下官方文档你可以去查一下官方文档你可以去查一下官方文档你可以去查一下官方文档你可以去查一下官方文档你可以去查一下官方文档你可以去查一下官方文档</span>
											</div>
										 	<a href="javascript:;" class="response">回复</a>
										</div>
									</li>
									<li>
										<img src="__PUBLIC__/src/images/img3.jpg" alt="用户头像" class="taolunImg"><span class="from">来自</span><a class="username">小泉花阳</a>
										<p class="problem">请问thinkphp中M函数的作用是什么？</p>
										<div class="caozuo">
											<a href="javascript:;" class="ping">评论</a>&nbsp;&nbsp;
											<a href="javascript:;" class="open">展开评论</a>
										</div>
										<div class="row comment">
											<div class="row small">
												<span class="name">狒狒神:</span>
												<span class="answer">你可以去查一下官方文档你可以去查一下官方文档你可以去查一下官方文档你可以去查一下官方文档你可以去查一下官方文档你可以去查一下官方文档你可以去查一下官方文档</span>
											</div>
										 	<a href="javascript:;" class="response">回复</a>
										</div>
									</li>

								</ul>
								<ul class="xinwen allUl" style="display: none">
								<!--
									<template v-for="item in items">
									<li>
										<img class="newsImg" :src="item.imgSrc">
										<div class="newsList"><a class="newTitle" :href="item.newsHref">{{item.title}}</a>
										<p class="news">{{item.text}}</p></div>
									</li>
									</template>
								-->
								<li>
										<img class="newsImg" src="__PUBLIC__/src/images/a1.png">
										<div class="newsList"><a class="newTitle" href="item.newsHref">据说校科协网络部招新啦</a>
										<p class="news">据说校科协网络部招新啦据说校科协网络部招新啦据说校科协网络部招新啦据说校科协网络部招新啦据说校科协网络部招新啦据说校科协网络部招新啦据说校科协网络部招新啦据说校科协网络部招新啦据说校科协网络部招新啦据说校科协网络部招新啦</p>
										<p style="float:right;">2016年5月10日</p></div>
									</li>
									<li>
										<img class="newsImg" src="__PUBLIC__/src/images/a1.png">
										<div class="newsList"><a class="newTitle" href="item.newsHref">据说校科协网络部招新啦</a>
										<p class="news">据说校科协网络部招新啦据说校科协网络部招新啦据说校科协网络部招新啦据说校科协网络部招新啦据说校科协网络部招新啦据说校科协网络部招新啦据说校科协网络部招新啦据说校科协网络部招新啦据说校科协网络部招新啦据说校科协网络部招新啦</p>
										<p style="float:right;">2016年5月10日</p></div>
									</li>
									<li>
										<img class="newsImg" src="__PUBLIC__/src/images/a1.png">
										<div class="newsList"><a class="newTitle" href="item.newsHref">据说校科协网络部招新啦</a>
										<p class="news">据说校科协网络部招新啦据说校科协网络部招新啦据说校科协网络部招新啦据说校科协网络部招新啦据说校科协网络部招新啦据说校科协网络部招新啦据说校科协网络部招新啦据说校科协网络部招新啦据说校科协网络部招新啦据说校科协网络部招新啦</p>
										<p style="float:right;">2016年5月10日</p></div>
									</li>
									<li>
										<img class="newsImg" src="__PUBLIC__/src/images/a1.png">
										<div class="newsList"><a class="newTitle" href="item.newsHref">据说校科协网络部招新啦</a>
										<p class="news">据说校科协网络部招新啦据说校科协网络部招新啦据说校科协网络部招新啦据说校科协网络部招新啦据说校科协网络部招新啦据说校科协网络部招新啦据说校科协网络部招新啦据说校科协网络部招新啦据说校科协网络部招新啦据说校科协网络部招新啦</p>
										<p style="float:right;">2016年5月10日</p></div>
									</li>

								</ul>
								<ul class="wiki allUl" style="display: none">
								<!--
									<template v-for="item in items">
									<li>
										<a class="wikiTitle" :href="wikiHref">{{item.title}}</a>
										<p class="wikiContent">{{item.text}}</p>
										<div class="more"><span class="author">{{item.author}}</span>&nbsp;&nbsp;<span class="time">{{item.timestamp}}</span></div>
									</li>
									</template>
								-->
								<li>
										<a class="wikiTitle" href="wikiHref">关于懒加载的实现</a>
										<p class="wikiContent">懒加载技术(简称lazyload)并不是新技术, 它是javascript程序员对网页性能优化的一种方案.lazyload的核心是按需加载.在大型网站中都有lazyload的身影,例如谷歌的图片搜索页,迅雷首页，淘宝网,QQ空间等.因此掌握lazyload技术是个不错的选择,可惜jquery插件lazy load官网(http://www.appelsiini.net/projects/lazyload)称不支持新版浏览器。</p>
										<div class="more"><span class="author">作者：sadpig</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="time">2016年5月4日</span></div>
									</li>
																	<li>
										<a class="wikiTitle" href="wikiHref">关于懒加载的实现</a>
										<p class="wikiContent">懒加载技术(简称lazyload)并不是新技术, 它是javascript程序员对网页性能优化的一种方案.lazyload的核心是按需加载.在大型网站中都有lazyload的身影,例如谷歌的图片搜索页,迅雷首页，淘宝网,QQ空间等.因此掌握lazyload技术是个不错的选择,可惜jquery插件lazy load官网(http://www.appelsiini.net/projects/lazyload)称不支持新版浏览器。</p>
										<div class="more"><span class="author">作者：sadpig</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="time">2016年5月4日</span></div>
									</li>
																	<li>
										<a class="wikiTitle" href="wikiHref">关于懒加载的实现</a>
										<p class="wikiContent">懒加载技术(简称lazyload)并不是新技术, 它是javascript程序员对网页性能优化的一种方案.lazyload的核心是按需加载.在大型网站中都有lazyload的身影,例如谷歌的图片搜索页,迅雷首页，淘宝网,QQ空间等.因此掌握lazyload技术是个不错的选择,可惜jquery插件lazy load官网(http://www.appelsiini.net/projects/lazyload)称不支持新版浏览器。</p>
										<div class="more"><span class="author">作者：sadpig</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="time">2016年5月4日</span></div>
									</li>
																	<li>
										<a class="wikiTitle" href="wikiHref">关于懒加载的实现</a>
										<p class="wikiContent">懒加载技术(简称lazyload)并不是新技术, 它是javascript程序员对网页性能优化的一种方案.lazyload的核心是按需加载.在大型网站中都有lazyload的身影,例如谷歌的图片搜索页,迅雷首页，淘宝网,QQ空间等.因此掌握lazyload技术是个不错的选择,可惜jquery插件lazy load官网(http://www.appelsiini.net/projects/lazyload)称不支持新版浏览器。</p>
										<div class="more"><span class="author">作者：sadpig</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="time">2016年5月4日</span></div>
									</li>
								</ul>
							<img src="__PUBLIC__/src/images/loading.gif" height="40" width="40" alt="loading..." class="loading" style="display:none;">
							<div class="searchTip"><span class="notFind">没有关于“<span class="content"></span>”的搜索结果</span></div>
						</div>
						<!--分页-->
						<div class="row" style="margin-bottom:30px;">
							<ul class="pageAll" style="width: 100%;text-align: center;">
								<li class="page" @click="toFirst();">第一页</li>
								<li class="page" @click="less();">上一页</li>
								<li class="page" v-for="index in indexs" @click="changeBtn(index)" :class="'choosen': current == item">{{index}}</li>
								<li class="page" @click="add()">下一页</li>
								<li class="amount">{{current}}/<span class="pages"></span></li>
							</ul>
						</div>
					</div>
					<div class="col-md-3">
						<div class="row rightRow" style="height:700px;">
							<div class="title">热门搜索</div>
							<a href="{这是链接}" class="s1">多写代码少装逼</a>
							<a href="{这是链接}" class="s2">多写代码少装逼</a>
							<a href="{这是链接}" class="s3">多写代码少装逼</a>
							<a href="{这是链接}" class="s4">多写代码少装逼</a>
							<a href="{这是链接}" class="s5">多写代码少装逼</a>
							<a href="{这是链接}" class="s6">多写代码少装逼</a>
							<a href="{这是链接}" class="s7">多写代码少装逼</a>
							<a href="{这是链接}" class="s8">多写代码少装逼</a>
							<a href="{这是链接}" class="s9">多写代码少装逼</a>
						</div>
					</div>
				</div>
		</div>
		<div class="container-fluid foot" style="background-color:#337D69;">
			<div class="row">
				<p style="color:#fff;margin-top:4px;margin-left:20px;">Copy right &copy;狒狒神 &copy;Shiratsuy   github:https://github.com/SoloJiang</p>
			</div>
		</div>
	</div>
	
	<script type="text/javascript" src="__PUBLIC__/src/js/jquery.js"></script>
	<script type="text/javascript" src="__PUBLIC__/src/js/bootstrap.js"></script>
	<script type="text/javascript" src="__PUBLIC__/src/js/Login.js"></script>
	<script type="text/javascript" src="__PUBLIC__/src/js/register.js"></script>
	<script type="text/javascript" src="__PUBLIC__/src/js/index.js"></script>
	<script type="text/javascript" src="__PUBLIC__/src/js/search.js"></script>
</body>
</html>