<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>南京邮电大学科学技术协会</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/indexTop.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/index.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/login.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/register.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/indexMain.css">
</head>
<body>
	<include file="./Public/html/navbar.html"/>
	<!--轮播-->
		<div id="myCarousel" class="carousel slide carousel-fade">
		   <!-- 轮播（Carousel）指标 -->
		   <ol class="carousel-indicators">
		      <li data-target="#myCarousel" data-slide-to="0" 
		         class="active"></li>
		      <li data-target="#myCarousel" data-slide-to="1"></li>
		      <li data-target="#myCarousel" data-slide-to="2"></li>
		      <li data-target="#myCarousel" data-slide-to="3"></li>
		      <li data-target="#myCarousel" data-slide-to="4"></li>
		      <li data-target="#myCarousel" data-slide-to="5"></li>
		      <li data-target="#myCarousel" data-slide-to="6"></li>
		      <li data-target="#myCarousel" data-slide-to="7"></li>

		   </ol>   
		   <!-- 轮播（Carousel）项目 -->
		   <div class="carousel-inner">
		      <div class="item active">
		         <img src="__PUBLIC__/images/home.jpg" alt="First slide">
		         <div class="introduce">
		         	<div class="frosted-glass"></div>
		         	<span class="introTitle">计算机部</span>
		         	<div class="introContent">计算机部是校科协的传统部门，主要负责开展计算机软件方面的竞赛、技术培训以及项目和科研工作，目前主要有以下几个研究方向：Windows编程，acm算法，linux系统，游戏开发。同时拥有若干个项目组和专业研究小组。</div>
		         </div>
		         <div class="continue">
		         	<a href="javascript:;" class="down">继续向下</a><a href="dddd">报名入口</a>
		         </div>
		      </div>
		        <div class="item">
		         <img src="__PUBLIC__/images/dianzi.jpg"alt="Third slide">
		         <div class="introduce">
		         	<div class="frosted-glass"></div>
		         	<span class="introTitle">电子部</span>
		         	<div class="introContent">电子部主要开展电子信息类科学技术的研究，授课和竞赛培训。学习的内容以模拟电路、数字电路、编程语言为基础，以自动控制系统、通信系统、仪器仪表、电源系统、物联网系统为方向，专攻电子电路设计、嵌入式系统开发，FPGA和片上系统。部门活动主要涵盖授课，交流和竞赛培训。</div>
		         </div>
		         <div class="continue">
		         	<a href="javascript:;" class="down">继续向下</a><a href="dddd">报名入口</a>
		         </div>
		      </div>
		      <div class="item">
		         <img src="__PUBLIC__/images/inter.jpg"alt="Second slide">
		         <div class="introduce">
		         	<span class="introTitle">网络部</span>
		         	<div class="introContent">网络部是一个热衷于web前后端开发、网络安全和多媒体制作的技术部门。我们不仅喜欢热门的web前端技术，我们还研究数据库 服务器 http协议 web脚本语言(python php ruby and Node.js)等方面的知识使用。我们喜欢渗透、逆向的快感，我们还做的了视频拍的了绚丽的mv。</div>
		         </div>
		         <div class="continue">
		         	<a href="javascript:;" class="down">继续向下</a><a href="dddd">报名入口</a>
		         </div>
		      </div>
		      <div class="item">
		         <img src="__PUBLIC__/images/bangongshi.jpg"alt="fourth slide">
		         <div class="introduce">
		         	<div class="frosted-glass"></div>
		         	<span class="introTitle">办公室</span>
		         	<div class="introContent">办公室作为主席团和校科协各个部门的沟通纽带，是校科协运作的保障部门，与其他部门都有着紧密的联系。办公室的工作主要包括 ：人员的组织与调配 、 活动的策划与总结 、 成员档案的归类与整理 、 文案的编辑与制作以及账务管理等 。</div>
		         </div>
		         <div class="continue">
		         	<a href="javascript:;" class="down">继续向下</a><a href="dddd">报名入口</a>
		         </div>
		      </div>
		      <div class="item">
		         <img src="__PUBLIC__/images/kexuanbu.jpg" alt="Fifth slide">
		         <div class="introduce">
		         	<div class="frosted-glass"></div>
		         	<span class="introTitle">科宣部</span>
		         	<div class="introContent">科宣部，全称科普宣传部。正如其名，我们负责管理校科协的各网络平台，致力于宣传校科协的各项活动。运用Photoshop设计宣传册、海报等展示科技魅力，用网络科普科技知识，将科技与艺术紧密结合，把创新的思想融入到科普宣传中。科宣部的工作需要使用Photoshop等图像制作软件的应用能力以及新闻稿的写作能力（其中PS我们会联合网络部进行授课教学）。</div>
		         </div>
		         <div class="continue">
		         	<a href="javascript:;" class="down">继续向下</a><a href="dddd">报名入口</a>
		         </div>
		      </div>
		      <div class="item">
		         <img src="__PUBLIC__/images/wailian.jpg"alt="sixth slide">
		         <div class="introduce">
		         	<div class="frosted-glass"></div>
		         	<span class="introTitle">外联部</span>
		         	<div class="introContent">外联部，是校科协对外交流的桥梁，主要负责校科协和外界的联系、日常活动的组织与开展以及提供社团经费保障。其中包括校科协与我校九大社团的工作交流，与兄弟院校之间的联系交流，以及与企业之间的沟通。这是一个极具挑战性的部门，同时也是开拓大学生视野的窗口，在这里你可以认识更多本校以及兄弟院校科协的牛人，还可以结识许多企业人士。</div>
		         </div>
		         <div class="continue">
		         	<a href="javascript:;" class="down">继续向下</a><a href="dddd">报名入口</a>
		         </div>
		      </div>
		      <div class="item">
		         <img src="__PUBLIC__/images/shefa.jpg"alt="seventh slide">
		         <div class="introduce">
		         	<div class="frosted-glass"></div>
		         	<span class="introTitle">社会发展部</span>
		         	<div class="introContent">社团发展部主要负责校科协与各科技类直属社团的联系和交流，建立起两者间的桥梁。发挥科协与直属社团间的不同优势，调度信息资源，促进双方的共同发展。作为创新中心下属部门，社发部还担负着组织参赛的职能，在利用各方资源的同时积极动员同学们参加创新创业方面赛事，同时处理和参与创新中心和科协内的日常工作和活动。</div>
		         </div>
		         <div class="continue">
		         	<a href="javascript:;" class="down">继续向下</a><a href="dddd">报名入口</a>
		         </div>
		      </div>
		      <div class="item">
		         <img src="__PUBLIC__/images/organize.jpg"alt="seventh slide">
		         <div class="introduce">
		         	<div class="frosted-glass"></div>
		         	<span class="introTitle">赛事部</span>
		         	<div class="introContent">赛事部隶属于创新中心，是负责组织和管理学生课内外竞赛的职能部门，致力于竞赛体系的建设和完善。其职能主要有赛事提醒、赛事推介、赛事经验传授、赛事资料汇总等，并负责全国一级赛事"挑战杯"在校内的承办。</div>
		         </div>
		         <div class="continue">
		         	<a href="javascript:;" class="down">继续向下</a><a href="dddd">报名入口</a>
		         </div>
		      </div>
   			</div>
		</div> 
		<section class="sectionOne">
			<div class="container moreContainer">
				<br><br>
				<div class="row">
					<div class="col-md-1 title">
						<span class="glyphicon glyphicon-list-alt ii"></span>科协动态
						<div class="more"><a href="sdds">more <span class="glyphicon glyphicon-forward"></span></a></div>
					</div>
				</div>
				<div class="row row2">
					  <div class="col-md-3">
					  	<h4>{$news[0].title}</h4>
						<div class="image">
							<img src="http://www.sinaimg.cn/dy/slidenews/1_img/2016_28/2841_710705_219235.jpg">
						</div>
						<p class="introduce">
						{$news[0].text}</p>
						<a href="dsfs">READ MORE</a>
					  </div>
					  <div class="col-md-3">
					  	<h4>{$news[1].title}</h4>
						<div class="image">
							<img src="http://www.sinaimg.cn/dy/slidenews/1_img/2016_28/2841_710705_219235.jpg">
						</div>
						<p class="introduce">
						{$news[1].text}</p>
						<a href="dsfs">READ MORE</a>
					  </div>
					  <div class="col-md-3">
					  	<h4>{$news[2].title}</h4>
						<div class="image">
							<img src="http://www.sinaimg.cn/dy/slidenews/1_img/2016_28/2841_710705_219235.jpg">
						</div>
						<p class="introduce">
						{$news[2].text}</p>
						<a href="dsfs">READ MORE</a>
					  </div>
				</div> 
				<br><br>
				<div class="row row3" style="margin-top:80px" align="center">
					<div class="col-md-3"><span class="glyphicon glyphicon-blackboard"></span><p>开源平等</p></div>
					<div class="col-md-3"><span class="glyphicon glyphicon-send"></span><p>志存高远</p></div>
					<div class="col-md-3"><span class="glyphicon glyphicon-transfer"></span><p>薪火相传</p></div>
				</div>
				<div class="row row5" align="center">
					<h2 style="color:#235ea7">Sast-南邮校科协简介</h2>
					<p style="color: #1f60a9;margin-top: 50px;font-size: 18px;line-height: 200%;text-align: justify;text-indent: 36px;">南京邮电大学大学生科学技术协会（Students’ Association for Science and Technology, 简称SAST，中文简称南邮校科协），成立于1992年。它是在校党委领导、校团委指导下，依照国家法规和大学生规章制度，独立开展活动的学生科技文化及学术研究的组织。南邮校科协现分为办公中心、技术中心、创新中心三大中心，其中创新中心下还设有CG爱好者协会、ERP协会、苹果爱好者俱乐部等九个直属社团，组织管理有序，机构设置严谨。现为南京邮电大学九大校级学生组织中唯一一个技术类学生组织。</p>
					<br>
					<p class="sastVideo" style="margin-top: 80px;"><embed src="http://player.youku.com/player.php/sid/XNDUwOTAxMjgw/v.swf" allowfullscreen="true" quality="high" width="480" height="400" align="middle" allowscriptaccess="always" type="application/x-shockwave-flash"></p>
				</div>	
				<div class="row row4" style="margin-top:80px;height:480px;">
					<div class="zhe"><span>科协这个大家庭</span></div>
					<div class="Box">
						<div class="smallBox">
							<div class="min allmin">
								<img src="__PUBLIC__/images/lazy.jpg" alt="">
							</div>
							<div class="introduce introduce1 pos">
								<p class="name">崔天昊</p>
								<p class="job">现任通院科协主席</p>
								<p class="contant">研究方向web前端，并有一定经验。</p>
							</div>
							<div class="min allmin">
								<img src="__PUBLIC__/images/lazy.jpg" alt="">
							</div>
							<div class="introduce introduce1 pos pos3">
								<p class="name">董家睿</p>
								<p class="job">2015届网络部副部长</p>
								<p class="contant">研究方向web后端，尤其对thinkphp的使用较为熟悉</p>
							</div>
							<div class="min allmin">
								<img src="__PUBLIC__/images/lazy.jpg" alt="">
							</div>
							<div class="introduce introduce1 pos2">
								<p class="name">倪丁凡</p>
								<p class="job">2015届电子部讲师</p>
								<p class="contant">之前研究硬件方向，现在主要研究ios开发</p>
							</div>
							<div class="min allmin">
								<img src="__PUBLIC__/images/lazy.jpg" alt="">
							</div>
							<div class="introduce introduce1 pos2 pos3">
								<p class="name">顾怡</p>
								<p class="job">2015届网络部部长</p>
								<p class="contant">web知识面广，研究web前端方向，经验较为丰富。</p>
							</div>
						</div>
						<div class="smallBox">
							<div class="min2 allmin">
								<img src="__PUBLIC__/images/lazy.jpg" alt="">
							</div>
							<div class="introduce introduce2 pos">
								<p class="name">奚佳伟</p>
								<p class="job">2013届网络部部长</p>
								<p class="contant contantBig">web前端工程师，南邮前端第一人，前端经验非常丰富，曾在阿里巴巴，百度实习，现就职于百度公司。开发过各种网站，大学期间通过写代码，自己挣生活费，让自己的优秀成为一种习惯。</p>
							</div>
						</div>
						<div class="smallBox">
							<div class="min2 allmin">
								<img src="__PUBLIC__/images/lazy.jpg" alt="">
							</div>
							<div class="introduce introduce2 pos">
								<p class="name">孙放</p>
								<p class="job">科协传奇人物</p>
								<p class="contant contantBig">放叔，全称孙放，江湖人称鼎山女尸，曾任校科协主席，现担任阿里高级产品经理。个人经典语录：Bug总是会有的，不会凭空消失，也不会凭空产生，它总是从一段代码转移到另一段代码中，从一种影响转换为另一种影响，在转移和转换的过程中，bug的总量是不变的。</p>
							</div>
						</div>
						<div class="smallBox">
							<div class="min allmin">
								<img src="__PUBLIC__/images/lazy.jpg" alt="">
							</div>
							<div class="introduce introduce1 pos">
								<p class="name">刘强胜</p>
								<p class="job">2015届计算机部部长</p>
								<p class="contant">主要研究方向是python，经验较为丰富。</p>
							</div>
							<div class="min allmin">
								<img src="__PUBLIC__/images/lazy.jpg" alt="">
							</div>
							<div class="introduce introduce1 pos pos3">
								<p class="name">郑致远</p>
								<p class="job">2015届计算机部副部长</p>
								<p class="contant">主要研究java，其他各类语言都比较熟悉，擅长于acm比赛。</p>
							</div>
							<div class="min allmin">
								<img src="__PUBLIC__/images/lazy.jpg" alt="">
							</div>
							<div class="introduce introduce1 pos2">
								<p class="name">周捷</p>
								<p class="job">2015届网络部网安组组长</p>
								<p class="contant">擅长于渗透等信安技术，多次提交网站漏洞，ctf比赛成绩优异。</p>
							</div>
							<div class="min allmin">
								<img src="__PUBLIC__/images/lazy.jpg" alt="">
							</div>
							<div class="introduce introduce1 pos2 pos3">
								<p class="name">褚鑫强</p>
								<p class="job">2014届网络部部长</p>
								<p class="contant">web前端工程师，web技术较为全面，经验较为丰富。</p>
							</div>
						</div>
					</div>
					<div class="Box">
						<div class="smallBox">
							<div class="min allmin">
								<img src="__PUBLIC__/images/lazy.jpg" alt="">
							</div>
							<div class="introduce introduce3 pos pos4">
								<p class="name">张丹阳</p>
								<p class="job">2015届主席团</p>
								<p class="contant">主持过科协大大小小活动，功不可没。</p>
							</div>
							<div class="min allmin">
								<img src="__PUBLIC__/images/lazy.jpg" alt="">
							</div>
							<div class="introduce introduce3 pos">
								<p class="name">叶子新</p>
								<p class="job">2015届办公室主任</p>
								<p class="contant">将科协内部交流梳理的有条不紊，做事非常周全细致。</p>
							</div>
							<div class="min allmin">
								<img src="__PUBLIC__/images/lazy.jpg" alt="">
							</div>
							<div class="introduce introduce3 pos2  pos4">
								<p class="name">徐铄芮</p>
								<p class="job">2015届科宣部副部长</p>
								<p class="contant">外表甜美，擅长ps等多媒体技术，在科协宣传工作中起到很大作用。</p>
							</div>
							<div class="min allmin">
								<img src="__PUBLIC__/images/lazy.jpg" alt="">
							</div>
							<div class="introduce introduce3 pos2">
								<p class="name">李赫</p>
								<p class="job">2015届科宣部部长</p>
								<p class="contant">性格爽朗，为科协宣传全力付出。</p>
							</div>
						</div>
						<div class="smallBox">
							<div class="min2 allmin">
								<img src="__PUBLIC__/images/lazy.jpg" alt="">
							</div>
							<div class="introduce introduce4 pos">
								<p class="name">黄诚博</p>
								<p class="job">2015届技术中心主席</p>
								<p class="contant contantBig">在担任主席期间，尽职尽责，本人技术过硬。ACM-ICPC亚洲区域赛（北京站）铜奖；南京邮电大学第六届程序设计大赛一等奖等等，为科协的部员起着学习榜样的作用。</p>
							</div>
						</div>
						<div class="smallBox">
							<div class="min2 allmin">
								<img src="__PUBLIC__/images/lazy.jpg" alt="">
							</div>
							<div class="introduce introduce4 pos">
								<p class="name">樊超</p>
								<p class="job">2013届计算机部部长</p>
								<p class="contant contantBig">曾在Red Hat (Linux内核)实习，现在就职于富士通，兴趣点在于Linux的学习与开发。虽然是物理专业出身，但是编程着实厉害。</p>
							</div>
						</div>
						<div class="smallBox">
							<div class="min allmin">
								<img src="__PUBLIC__/images/lazy.jpg" alt="">
							</div>
							<div class="introduce introduce3 pos pos4">
								<p class="name">曹文</p>
								<p class="job">2015届外联部部长</p>
								<p class="contant">组织过各种科协与外界的交流活动。</p>
							</div>
							<div class="min allmin">
								<img src="__PUBLIC__/images/lazy.jpg" alt="">
							</div>
							<div class="introduce introduce3 pos">
								<p class="name">朱立宇</p>
								<p class="job">2015届电子部长</p>
								<p class="contant">研究方向在硬件开发，兴趣驱使，经验丰富。</p>
							</div>
							<div class="min allmin">
								<img src="__PUBLIC__/images/lazy.jpg" alt="">
							</div>
							<div class="introduce introduce3 pos2  pos4">
								<p class="name">王悉宇</p>
								<p class="job">2015届网络部核心部员</p>
								<p class="contant">对各种计算机技术非常感兴趣，也乐于与其他部员交流自己的学习成果。</p>
							</div>
							<div class="min allmin">
								<img src="__PUBLIC__/images/lazy.jpg" alt="">
							</div>
							<div class="introduce introduce3 pos2">
								<p class="name">陶黎成</p>
								<p class="job">2015届计算机部核心部员</p>
								<p class="contant">擅长acm比赛，为人随和，在同届当中技术较为出色。</p>
							</div>
						</div>
					</div>
				</div>	
				<div class="row row6" align="center">
					<h1 style="color:#235ea7">前辈们的足迹遍布这里</h1>
					<img src="__PUBLIC__/images/google.jpg" alt="谷歌" class="intro0 ani">
					<img src="__PUBLIC__/images/baidu.png" alt="百度" class="intro1">
					<img src="__PUBLIC__/images/alibaba.jpg" alt="阿里巴巴" class="intro2">
					<img src="__PUBLIC__/images/sanxing.jpg" alt="三星"class="intro3">
					<img src="__PUBLIC__/images/tencent.jpg" alt="腾讯"class="intro4">
					<img src="__PUBLIC__/images/xiaomi.jpg" alt="小米"class="intro5">
					<img src="__PUBLIC__/images/zte.jpg" alt="中兴"class="intro6">
					<img src="__PUBLIC__/images/huawei.png" alt="华为"class="intro7">
					<img src="__PUBLIC__/images/microsoft.jpg" alt="微软"class="intro8">
					<img src="__PUBLIC__/images/Motorola.jpg" alt="摩托罗拉"class="intro9">
				</div>	
			</div>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<div class="container lessContainer" style="background-color:#235ea7">
				<div class="row"><h1>联系我们</h1></div>
				<div class="row">
					<br>
					<br>
					<p>地址:南京市栖霞区文苑路9号南京邮电大学大学生活动中心208</p>
					<p>邮箱:sast@njupt.edu.cn</p>
					<p>网址:http://www.njuptsast.org</p>
					<p>Copyright &copy;校科协网络部 </p>
					<p>
					<a style="color:#fff" href="https://github.com/Njupt-Sast-Network/Sast-index">https://github.com/Njupt-Sast-Network/Sast-index</a></p>
				</div>
				<div class="row" style="display: inline-block;">
				<br>
				<br>
					<div class="newQq" style="display: inline-block;margin-right: 50px;position: relative;">加入我们的新生群<br><img src="__PUBLIC__/images/getqrcode.jpg" height="200" width="200" style="margin-top: 30px;margin-bottom: 30px"><br>群号：463842447</div>
					<div class="erwei" style="display: inline-block;margin-left: 50px;position: relative;top: -1px">扫二维码关注南邮校科协微信号<br><img src="__PUBLIC__/images/getqrcode.jpeg" height="200" width="200" style="margin-top: 30px;margin-bottom: 30px;"><br>（录取查询方式之一）</div>				
				<br>
				<br>
				</div>
				
			</div>
		</section>
		<span id="hui" class="glyphicon glyphicon-menu-up"></span>
	<script type="text/javascript" src="__PUBLIC__/js/jquery.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/bootstrap.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/top.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/Login.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/register.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/main.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/tab.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/lazyload.js"></script>
	<script type="text/javascript">
		(function() {
			var menuBtn = $(".nav .menu"),
			hideBar = $(".nav .hideBar");
			menuBtn.click(function() {
			hideBar.slideToggle();
		});
	})()
	</script>
</body>
</html>
